body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    width: 995px;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 22px;
}

div h2 {
    height: 140px;
    line-height: 140px;
    font-weight: normal;
    color: #666;
    margin-left: 25px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom ul {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    background-color: rgb(12, 38, 63);
    width: 100%;
    height: 800px;
}

.main-content {
    background: url("/imgs/bgc.png");
    margin: 0 auto;
    height: 100%;
    width: 995px;
}

.bottom ul li span {
    margin-right: 10px;
    margin-left: 10px;
}

.bottom ul li a {
    color: black;
}

.bottom ul li a:hover {
    color: pink;
    text-decoration: underline;
}